$purple: #da7cd7;
$purple-deep: #eb50f0;
$purple-dark: #9a6fc8;
$purple-light: #d5b8f7;
$turquoise: #53cfcf;
$turquoise-light: #a5dbbe;
$blue: #83a8ef;
$blue-deep: #62b1fe;
$blue-dark: #5473ae;
$blue-light: #a6cef2;
$green-deep: #a8ff60;
$green: #9dd076;
$orange: #eeaf96;
$orange-light: #e0cb93;
$orange-deep: #f6a022;
$yellow: #f9ee98;
$yellow-deep: #f9ef28;
$red: #f980aa;
$red-deep: #dd506f;
$red-dark: #b7527c;
$gray: #60606f;
$gray-light: #8393b6;
$brown: #d0a080;

$background: #1f2528;
$foreground: #cccfcb;
